header {
    background-color: var(--primaryColor);
    width: 100vw;
    height: 120px;
    display: flex;

}
h1 {
    padding-top: 10px;
    margin:  0 auto;
    font-size: 60px;
    color: white;
}

img {
    border-radius: 50%;
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
    width: 80px;
    height: 80px;
}

form {
    width: 40%;
}
   


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

h2{
    text-align: center;
    color: black;
    font-weight: 700;
}

.control > p{
    color: black;
}

.input {
    --bulma-input-placeholder-color: rgb(189, 187, 187);
}

.form-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.button {
    padding: 10px 40px;
}

@media (max-width: 700px) {
    header {
        height: 200px;
    }
    h1{
        padding-top: 90px;
    }
    img{
        left: 50%; 
        margin-left: -40px;
    }

    form {
        width:90%;
    }
    .form-container {
        margin-top: 40px;
    }
}