h1 {
    padding-top: 10px;
    margin:  0 auto;
    font-size: 60px;
    color: white;
}

form {
    width: 40%;
}
   


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

h2{
    text-align: center;
    color: black;
    font-weight: 700;
}

.control > p{
    color: black;
}

.input {
    --bulma-input-placeholder-color: rgb(189, 187, 187);
}

.form-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
