:root {
    --primaryColor: rgb(63, 63, 63);
    --secondaryColor: rgb(243, 232, 212);
}

*{
    margin: 0;
    padding: 0;
}

html{
    background-color: var(--secondaryColor);
}

header {
    background-color: var(--primaryColor);
    width: 100vw;
    height: 80px;
}

form {
    width: 70%;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    --bulma-input-placeholder-color: rgb(189, 187, 187);
}
