header {
    background-color: var(--primaryColor);
    width: 100vw;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.results-container{
    min-height: 300px;
    height: auto;
    width: 70vw;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 90px;
}

h1 {
    margin:  0 auto;
    font-size: 60px;
    color: white;
    padding-top: 10px;
}

.back{
    padding: auto;
    margin:  35px 50px 35px -50px;
}

img {
    border-radius: 50%;
    margin: 20px 30px;
    width: 80px;
    height: 80px;
}

.card {
    background-color: white;
    border-radius: 20px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 20px;
    --bulma-card-footer-border-top: none;
    --bulma-card-header-shadow: none;
}

.card-header {
    height: auto;
    flex-direction: column;
    
}

.card-title {
    color: black;
    font-size: 45px;
}

.card-author{
    color: black;
    font-size: 25px;
    margin-bottom: -20px;
}

.card-body{
    height: auto;
    padding: 0 20px;
    
}

.card-desc {
    color: black;
    font-size: 18px;
    margin: 40px 0;
}

.card-footer{
    width: 100%;
    height: auto;
}

.card-url {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 100px;
    border: 1px solid black;
    background-color: rgb(233, 233, 236);
}

@media (max-width: 900px) {
    header{
        height: 200px;
    }
    img{
        position: absolute;
        left: 50%; 
        margin-left: -40px;
    }
    .back{
        position: absolute;
        right: 0px;
        top: -4px;
        margin-right: 20px
    }
    h1{
        padding-top: 100px;
        text-align: center;
    }
    .results-container {
        width: 90vw;
    }
}

@media (max-width: 600px) {
    header{
        height: 300px;
    }
}